@import '../../../../styles/colors.scss';


.painting-card {
    background-color: $white;
    border-radius: 3px;
    min-height: 396px;
    &--border{
      border: 2px solid transparent;
      &:hover {
         border: 2px solid $dark-blue !important;
         cursor: pointer;
      }
   }
    
    &__image-container { 
        align-items: center;
        justify-content: center;
     }
     &__title {
        font-size: 16px;
     }
     &__subinfo {
        font-size: 14px;
     }

     &__status {
         width: fit-content;
         border-bottom-right-radius: 3px;
         transform: translate(-10px,-10px);
         border-top-left-radius: 3px;
         opacity: 50%;

         @media screen and (max-width: 992px) {
            transform: translate(-8px,-8px) !important;
         }
         &--Available {
            background: $green;
         }
         &--Unavailable {
            background: $black-4;
         }
         &--Sold {
            background: $purple-8;
         }
     }

     &__view-details{
        background-color: $light-blue;
        border: none;
        border-radius: 3px;
        color: $white;
        font-weight: 500;
        padding: 10px 20px 10px 20px;
        &:disabled {
            background-color: rgba($black, 0.3) !important;
            color: $black-4;
        }
     }
}