<section class="painting-card p-2 w-100" [ngClass]="{'painting-card--border': !isMobileView && !isTabletView && painting.renderedImage}" (click)="checkToOpenModal(false)" aria-label="View Details">
    <div class="painting-card__loading-indicator" *ngIf="painting.renderedImage == undefined; else displayImage">
        <ap-loading-indicator></ap-loading-indicator>
    </div>
    <ng-template #displayImage>
        <div class="painting-card__status--{{painting.status}} painting-card__status px-4">{{painting.status}}</div>
        <div class="d-flex painting-card__image-container my-3">
            <img [style.height]="getImageHeight(painting)" [style.width]="getImageWidth()"
                [ngStyle]="{'aspect-ratio': painting.aspectRatio}" [src]="painting.renderedImage">
        </div>
    </ng-template>
    <div class="text-center painting-card__subinfo">
        <h4 class="painting-card__title">{{painting.name}}</h4>
        <div>{{painting.paintType}} painting</div>
        <div>{{painting.dimensions}}</div>
        <div *ngIf="showPaintingPrice">${{painting.price}}</div>
    </div>
    <div class="text-center" *ngIf="isMobileView || isTabletView">
        <button aria-label="View Details" mat-raised-button [disabled]="!painting.renderedImage" class="my-3 painting-card__view-details"  (click)="checkToOpenModal(true)">View Details</button>
    </div>
</section>