@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/bootstrap.scss';

.painting-card {
   background-color: $white;
   border-radius: 3px;
   height: 100%;
   @include box-shadow;
   
    &--border{
      border: 2px solid transparent;
      &:hover {
         border: 2px solid $dark-blue !important;
         cursor: pointer;
      }
   }

   &__loading-indicator {
      margin-top: 5rem;
      margin-bottom: 5rem;
   }
    
    &__image-container { 
        align-items: center;
        justify-content: center;
     }
     &__title {
        font-size: 16px;
     }
     &__subinfo {
        font-size: 14px;
     }

     &__status {
         width: fit-content;
         border-bottom-right-radius: 3px;
         transform: translate(-10px,-10px);
         border-top-left-radius: 3px;
         opacity: 50%;

         @include media-breakpoint-down(lg) {
            transform: translate(-8px,-8px) !important;
         }
         &--Available {
            background: $green;
         }
         &--Unavailable {
            background: $black-4;
         }
         &--Sold {
            background: $purple-8;
         }
     }

     &__view-details{
         padding: 10px 20px 10px 20px;
         @include generic-button;
    
     }
}