@import '../../../../styles/colors.scss';


.painting-card {
    background-color: $white;
    border-radius: 3px;
    min-height: 375px;
    &--border:hover {
        border: 2px solid $dark-blue;
        cursor: pointer;
    }
    &
    &__image-container { 
        align-items: center;
        justify-content: center;
     }
     &__title {
        font-size: 16px;
     }
     &__subinfo {
        font-size: 14px;
     }

     &__view-details{
        background-color: $light-blue;
        border: none;
        border-radius: 3px;
        color: $black-7;
        font-weight: 500;
        padding: 10px;
        &:disabled {
            background-color: rgba($black, 0.3) !important;
            color: $black-4;
        }
     }
}