@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';

.address-form {
    text-align: center;
    display: block;
    mat-form-field {
        @include input-field;
    }

    &__next-button{
        @include generic-button;
        padding: 10px 30px 10px 30px;
    }
}

::ng-deep {
    .mdc-text-field{
        overflow: visible !important;
    }
    .mdc-floating-label {
        top: 20% !important;
    }
    mat-label {
        font-weight: 100;;
    }
    .mat-mdc-form-field-error-wrapper {
        font-size: 12px;
        color: $red;
        margin-top: -5px;
    }

    .mat-mdc-form-field-hint {
        font-size: 12px;
        margin-top: -5px;
    }

    .mat-mdc-form-field-required-marker {
        color: $red;
    }

    .mdc-text-field--invalid {
        color: $red;
    }

    input:-internal-autofill-selected {
        background-color: transparent !important;
        color: transparent !important;
    }

    @include autofill-correction;

}