<section class="address-form">
    <h2 class="address-form__form-name">Shipping Address</h2>
    <form class="mt-4 text-center m-auto" [formGroup]="shippingForm">
        <div class="w-100 address-form__field">
            <label for="emailAddress">Email address</label>
            <input id="email-Address" [ngClass]="{'address-form__field--error': isFormControlError('emailAddress')}"
                placeholder="Email" type="text" formControlName="emailAddress">
            <p *ngIf="isFormControlError('emailAddress')">{{getErrorMessage('address', 'a valid email address')}}</p>
        </div>
        <div id="shipping-address-element">
            <!-- Shipping Address elements will create form elements here -->
        </div>
    </form>
    <button aria-label="Next to Payment" mat-raised-button [disabled]="!shippingForm.valid"
        (click)="submitShippingForm()" class="mt-5 address-form__next-button mb-5">Next</button>
</section>