@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/bootstrap.scss';

.address-form {
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 14.88px;
    width: 50%;
    padding: 20px;
    margin: auto;
    @include  media-breakpoint-down(lg) {
        width: 100% !important;
    }
    @include shipping-input;

    &__field {
        text-align: left;
        margin-bottom: 16px;
        p {
            color: $red;
            font-size: 14.88px;
        }
        &--error {
            border-color: $red !important;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02), 0 0 0 2px $red;
        }
    }

    &__next-button{
        @include generic-button;
        padding: 10px 30px 10px 30px;
    }

    &__state-zip-container {
        @include  media-breakpoint-down(sm) {
           display: block;
        }
        display: flex;
        gap: 12px;
    }
    &__form-name {
        font-size: 16px;
    }
    
}

::ng-deep {
    @include autofill-correction;
}