@import '../../../../styles/colors.scss';
:host {
    .ld-indicator {
      text-align: center;
      stroke: $light-blue;
      margin: auto;
      top: 50%;
      bottom: 50%;
      &--full-page {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $black-7;
        z-index: 9999;
      }  
    }
}