@import '../../../styles/colors.scss';

.paintings-row {
    margin-bottom: 75px;
    .painting-card {
        background-color: $white;
        border-radius: 3px;
        min-height: 462px;
        .painting-image-container { 
            align-items: center;
            justify-content: center;
         }
    }
}