<div *ngIf="paintingData.length" class="row mx-2 paintings-row">
    <div *ngFor="let painting of paintingData" class="col-12 col-md-6 col-xl-4 p-3">
        <section class="painting-card p-2 w-100">
            <div class="d-flex painting-image-container my-3">
                <img [style.height]="getImageHeight(painting)" [style.width]="getImageWidth()" [ngStyle]="{'aspect-ratio': painting.aspectRatio}" [src]="painting.renderedImage">
            </div>
            <ul class>
                <li><b>Description: </b>{{painting.name}}</li>
                <li><b>Paint Type: </b>{{painting.paintType}}</li>
                <li><b>Dimensions: </b>{{painting.dimensions}}</li>
                <li><b>Edges Painted: </b>{{painting.edgesPainted}}</li>
                <li><b>Surface Type: </b>{{painting.surfaceType}}</li>
                <li><b>Date Finished: </b>{{painting.DateFinished}}</li>
                <li><b>Status: </b>{{painting.status}}</li>
            </ul>
        </section>
    </div>
</div>
