@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/bootstrap.scss';

.gallery-title {
    @include page-name;
}

.painting-card-col-xxl {
    @media screen and (min-width: 1800px) {
        flex: 0 0 auto !important;
        width: 25% !important;
    }
}

.paginator {
    width: fit-content;
    margin: auto;
}

::ng-deep {
    .mat-mdc-paginator-container {
        color: $dark-blue;
    }

    .mat-mdc-icon-button:disabled {
        color: rgba($dark-blue, 0.35) !important;
    }

    .mdc-tooltip__surface {
        color: $dark-blue !important
    }

    .mat-mdc-paginator-container {
        justify-content: center !important;
    }

    @include media-breakpoint-down(sm){
        .mat-mdc-paginator-range-actions {
            display: block !important;
            text-align: center;
        }
        .mat-mdc-paginator-container {
            display: block !important;
        }
        .mat-mdc-paginator-page-size {
            justify-content: center;
        }
    }
}