@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/bootstrap.scss';
@import '../../../../../../styles/mixins.scss';

.shipping-summary {
    @include summary-card;
    @include media-breakpoint-down(sm) {
        min-width: none;
    }

    &__col--border {
        border-right: 1px $black-2 solid;
        @include media-breakpoint-down(sm) {
            border-right: none;
        }
    }
}