@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/bootstrap.scss';
@import '../../../../../../styles/colors.scss';

@mixin stripe-form {
    text-align: center;
    margin: auto;
    width: 50%;

    @include  media-breakpoint-down(lg) {
        width: 100% !important;
    }
}

.payment {
    padding: 20px;
    &__card-input {
        @include stripe-form;
        margin-top: 24px !important;
    }

    &__billing-address-toggle--off {
        float: left;
    }

    &__billing-address {
        @include stripe-form;
        margin-top: 0 !important;
    }

    &__next-button {
        @include generic-button;
        padding: 10px 30px 10px 30px;
        margin: auto;
    }
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
    background: $black-2 !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
    background: $light-blue !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background-color: $dark-blue !important;
}
