@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/bootstrap.scss';

#payment-form {
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 50%;

    @include  media-breakpoint-down(lg) {
        width: 100% !important;
    }

    ::ng-deep {
        .submit {
            @include generic-button;
            padding: 10px 18px;
            margin-top: 28px;
        }
        #card-element {
            margin-top: 15px;
        }
    }
}