@import '../../../../../../styles/mixins.scss';
@import '../../../../../../styles/bootstrap.scss';
@import '../../../../../../styles/colors.scss';

@mixin stripe-form {
    text-align: center;
    margin: auto;
    width: 50%;

    @include  media-breakpoint-down(lg) {
        width: 90% !important;
    }
}

.payment {
    &__card-input {
        @include stripe-form;
        margin-top: 24px !important;
    }

    &__billing-address {
        @include stripe-form;
        margin-top: 0 !important;
    }
}

