@import '../../../styles/colors.scss';

.toolbar {
    background: $white;
    height: 64px;
    border-bottom: 2px solid $dark-blue;
   .heading {
    h1 {
        font-family: 'Gill Sans', sans-serif;
        margin-bottom: 0;
        line-height: 1.5;
        span:nth-child(1) {
            color: $dark-blue;
        }
        span:nth-child(2) {
            color: $light-blue;
        }
       
    }
    .logo {
        transform: rotate(1deg);
        width: 143.5px;
        height: 51px;
        @media  screen and (max-width: 576px) {
            height: 40px !important;
        }
    }
   }
}