@import '../../../styles/colors.scss';
@import '../../../styles/bootstrap.scss';

.toolbar {
    background: $white;
    height: 64px;
    border-bottom: 2px solid $dark-blue;
   &__heading {
    h1 {
        font-family: 'Gill Sans', sans-serif;
        margin-bottom: 0;
        line-height: 1.5;
        cursor: pointer;
        span:nth-child(1) {
            color: $dark-blue;
        }
        span:nth-child(2) {
            color: $light-blue;
        }
        @media screen and (max-width: 280px) {
            font-size: 21px;
            transform: translateY(3px);
        }
    }
   }
   &__logo {
        transform: rotate(1deg);
        width: 143.5px;
        height: 51px;
        @include media-breakpoint-down(sm) {
            height: 40px !important;
        }
        @media screen and (max-width: 280px) {
            height: 26px !important;
        }
    }
}