@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/bootstrap.scss";

.shipping-options {
    text-align: center !important;
    background: $white;
    box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin: auto;
    width: fit-content;
    border-radius: 6px;
    font-weight: normal;
    @include  media-breakpoint-down(sm) {
        width: 90% !important;
        min-width: 0px;
    }
    min-width: 351px;
    min-height: 215px;
    &__option {
        cursor: pointer;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid $black-4;
        @media screen and (max-width: 360px){
            padding: 5px;
        }
        padding: 5px 20px 5px 10px;
        &-deliver-date {
            margin-left: 41px;
            font-size: 14px;
            color: $black-7;
            text-align: left;
        }
        &--last {
            border-bottom: none;
        }
        &--selected {
            background: $black-1;
        }
        &--first {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        ::ng-deep{
            .mat-mdc-radio-button {
                color: $light-blue;
            }
        }
    }
    &__loading-indicator {
        transform: translateY(150%);
        ::ng-deep .mat-mdc-progress-spinner {
            width: 30px !important;
        }
    }
}