@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.ordering-status {
    border-radius: 6px;
    background: $white;
    text-align: center;
    width: fit-content;
    padding: 0px 16px 0px 16px;
    @media screen and (max-width: 360px) {
        padding: 0px 10px 0px 10px;
    }
    height: 50px;
    @include box-shadow;

    &__indicators {
        transform: translateY(-3px);
        color: rgba($dark-blue, 0.4);
        &--active {
            color: rgba($dark-blue, 1);
        }
    }
    mat-icon {
        transform: translateY(6.4px);
    }
}