@import '../../../../styles/colors.scss';

.ordering-status {
    border-radius: 6px;
    background: $white;
    text-align: center;
    width: fit-content;
    padding: 0px 16px 0px 16px;
    @media screen and (max-width: 360px) {
        padding: 0px 10px 0px 10px;
    }
    height: 50px;
    box-shadow: 
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &__indicators {
        transform: translateY(-3px);
        color: rgba($dark-blue, 0.4);
        &--active {
            color: rgba($dark-blue, 1);
        }
    }
    mat-icon {
        transform: translateY(6.4px);
    }
}