<div class="d-flex">
    <section class="ordering-status m-auto mt-5 d-flex">
        <div class="m-auto ordering-status__indicators" *ngIf="(orderingStatus$ | async) != ORDERING_STATUS.complete; else orderComplete">
            <span [ngClass]="{'ordering-status__indicators--active': (orderingStatus$ | async) == ORDERING_STATUS.shipping}">Shipping
                <mat-icon class="ms-1 ms-sm-3 me-1 me-sm-3">keyboard_double_arrow_right</mat-icon>
            </span>
            <span [ngClass]="{'ordering-status__indicators--active':(orderingStatus$ | async) == ORDERING_STATUS.payment}">Payment
                <mat-icon class="ms-1 ms-sm-3">keyboard_double_arrow_right</mat-icon>
            </span>
            <span [ngClass]="{'ordering-status__indicators--active': (orderingStatus$ | async) == ORDERING_STATUS.confirmation}"class="ms-1 ms-sm-3">Confirmation</span>
        </div>
        <ng-template #orderComplete>
            <span class="ordering-status__indicators--active ordering-status__complete">Order Complete</span>
        </ng-template>
    </section>
</div>