$green: #669999;
$orange: #FF8566;
$purple: rgb(118, 104, 150);
$gray: #828282;
$placeholder-grey: #757680;
$light-blue: #66A3FF;
$dark-blue: #3973AC;
$white: #FFFFFF;
$white-7: rgba(#FFFFFF, 0.7);
$black: #000000;
$form-label-black: #30313D;
$form-input-black: rgb(48, 49, 61);
$red: #df1b41;
$black-7: rgba(#000000, 0.7);
$black-85: rgba(#000000, 0.85);
$black-4: rgba(#000000, 0.4);
$black-1: rgba(#000000, 0.1);
$black-2: rgba(#000000, 0.2);
$purple-8: rgba($purple, 0.8);
