@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

:host {
    display: flex;
    margin-top: 20px;
}

.mpc-container {
    width: fit-content;
    text-align: center;
    &__painting-image {
        width: 50px;
    }

    &__loading-section {
        width: 350px;
        height: fit-content;
        @include box-shadow;
        background: $white;
        border-radius: 6px;
        ::ng-deep .mat-mdc-progress-spinner {
            width: 30px !important;
        }
        @media screen and (max-width: 360px) {
            width: 90vw;
        }
    }
   
    mat-expansion-panel-header {
        height: fit-content;
        min-width: 350px;
        padding: 10px !important;
        @media screen and (max-width: 360px) {
            max-width: 338px;
            min-width: 0px !important;
        }
    }
}

::ng-deep {
    .mat-expansion-panel-content {
        background-color: $black-1;
        font-weight: 300;
    }
    .mat-expansion-panel-body {
        padding: 0 24px 0px !important;
    }
    
    .mat-expansion-indicator {
        margin-right: 10px;
    }
}