.menu-icon {
    height: 22px;
}

::ng-deep .mat-menu-panel {
    width: 200px;
    margin-top: 21px;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

::ng-deep .mat-menu-item {
    font-family: "Gill Sans", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    .mat-icon {
        margin-top: -4px;
        color: #3973AC;
    }
}