@import '../../../styles/colors.scss';
@import '../../../styles/bootstrap.scss';
@import '../../../styles/mixins.scss';
:host {
    .contact-title {
        @include page-name;
    }
    .contact {
        @include media-breakpoint-down(sm){
            width: fit-content !important;
            max-width: 90%;
        }

        @include media-breakpoint-down(md){
            width: 75%;
        }
        @include  media-breakpoint-up(md){
            width: 50%;
        }
        background-color: $white;
        border-radius: 3px;
        &__email {
            color: $light-blue;
        }
        &__email:hover {
            color: $dark-blue;
        }
    }
}