<section class="order-complete mt-4">
    <div class="order-complete__message p-3">
        <p>Thank you for your purchase.&nbsp;An email will be sent to {{emailAddress}} with the order summary and shipping tracking number.</p><br>
        <p>If you have any questions or concerns about your order,&nbsp;please contact <a class="order-complete__contact-email" aria-label="Questions or Concerns Email" href="mailto: gpatellis@awakeningpainting.com">gpatellis@awakeningpainting.com</a></p>
    </div>
    <button aria-label="Place Order" mat-raised-button class="mt-5 mb-5 order-complete__back-to-gallery-button"
    (click)="routeBackToGallery()">Back To Gallery</button>
</section>


