@import "../styles/colors.scss";

::ng-deep {

    color-scheme: dark;

    ::-webkit-scrollbar {
    width: 11.5px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $dark-blue;
        border-radius: 3px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($dark-blue, 0.85);
    }
}