@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/bootstrap.scss';


:host {
    .artist-note {
        background: $white;
        padding: 10px 20px 10px 20px;
        border-radius: 3px;
        width: 50%;
        @include box-shadow;

        @include media-breakpoint-down(lg) {
            width: 75%;
        }
     
        @include media-breakpoint-down(sm) {
            width: 90%;
        }
    }
    .artist {
        @include box-shadow;
        padding: 10px;
        margin: auto;
        background: $white;
        border-radius: 3px;
        width: fit-content;
        img {
            height: 300px;
            @include media-breakpoint-down(sm) {
                height: 250px;
            }
          
        }
        &__name {
            text-align: center;
        }
    }

}