<section class="artist mt-5">
    <img src="../../../assets/images/artist-image.png">
    <p class="artist__name mt-2">Artist: Greg Patellis</p>
</section>

<p class="mt-5 mb-3 m-auto artist-note">Through darkness emerges light. 
    Heavy anxiety from an early age and severe chronic illnesses that subsequently followed,
     lead me to look within to find answers on how to transcend and accept these conditions.
    Through this journey of self-discovery and awakening, these paintings have emerged.
     My wish is that these paintings bring as much joy to others as I had in creating them.
    <br>
    Thank you
</p>
