@import '../../styles/colors.scss';

.layout-body {
    overflow-y: hidden;
    .content {
        background-image: url("../../assets/images/website-water-backround.jpg");
        background-color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-y: scroll;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50px;
        left: 0;
    }
}