<body class="layout-body">
    <ap-toolbar></ap-toolbar>
    <section class="content">
    <!-- testing
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    testing
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    testing
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    testing
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    testing
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    testing -->
    <router-outlet></router-outlet>
</section>
</body>

