<section class="payment-summary mt-4">
    <h4>Payment Summary</h4>
    <dl class="py-3">
        <span class="d-flex justify-content-between">
            <dt>Painting Price:</dt>
            <dd>{{paymentConfirmationData.paintingPrice | currency: 'USD'}}</dd>
        </span>
        <span class="d-flex justify-content-between">
            <dt>{{paymentConfirmationData.carrierRateSelected.service_type}}:</dt>
            <dd>{{paymentConfirmationData.carrierRateSelected.shipping_amount.amount| currency: 'USD'}}</dd>
        </span>
        <span class="d-flex payment-summary__total mt-1 justify-content-between">
            <dt>Total:</dt>
            <dd>{{(paymentConfirmationData.totalAmount / 100) | currency: 'USD'}}</dd>
        </span>
        <div class="d-sm-flex d-block justify-content-between">
            <div class="mt-3">
                <dt>Billing Address:</dt>
                <dd>{{this.paymentConfirmationData.paymentMethodDetails.billing_details.name}}</dd>
                <dd>{{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.line1| uppercase}}
                    {{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.line2 | uppercase}}</dd>
                <dd>{{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.city | uppercase}},
                    {{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.state| uppercase}}</dd>
                <dd>{{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.postal_code}},
                    {{this.paymentConfirmationData.paymentMethodDetails.billing_details.address.country}}</dd>
            </div>
            <div class="mt-3 m-auto">
                <dt>Payment Method:</dt>
                <dd>{{this.paymentConfirmationData.paymentMethodDetails.card.brand | titlecase}} ending in {{this.paymentConfirmationData.paymentMethodDetails.card.last4}}</dd>
                <dd>Expires in {{getExpirationDateMonth(paymentConfirmationData.paymentMethodDetails.card.exp_month)}}/{{this.paymentConfirmationData.paymentMethodDetails.card.exp_year}}</dd>
            </div>
        </div>
    </dl>
</section>