<section class="text-center">
    <ap-shipping-summary [paymentConfirmationData]="paymentConfirmationData"
        [shippingData]="shippingData" class="text-start"></ap-shipping-summary>
    <ap-payment-summary class="text-start" [paymentConfirmationData]="paymentConfirmationData"></ap-payment-summary>
    <ap-return-policy></ap-return-policy>
    <button aria-label="Place Order" mat-raised-button class="mt-5 mb-5 place-order-button"
        (click)="processOrder()">Place Order</button>
</section>