@import '../../../../../styles/colors.scss';
@import '../../../../../styles/bootstrap.scss';

:host {
    mat-dialog-content {
        scroll-behavior: smooth;
        display: inline-table;
    }
}

.painting-xlong {
    width: 78% !important;
}

#top {
    transform: translateY(-30px);
}

.close-button {
    float: right;
    transform: translateY(-5px);
    @include media-breakpoint-down(lg) {
        transform: translateX(5px) !important;
    }
    &:hover {
        cursor: pointer;
    }
}

.buy-painting-button {
    background-color: $orange;
    border: none !important;
    border-radius: 3px;
    padding: 9px 18px 9px 18px;
    color: $white;
    &:focus-visible {
        outline:none;
    }
    &:disabled {
        background-color: rgba($black, 0.3) !important;
        color: $black-4;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 36px !important;
    }
}

.details-section {
    width: fit-content;
    font-weight: 100;
    color: $black;
    @include media-breakpoint-up(lg) {
        margin-left: -16px !important;
    }
    &__price {
        font-weight: 400;
    }
}

::ng-deep .painting-details-modal {
    height: fit-content;
    width: fit-content;

    @include media-breakpoint-down(lg) {
        max-width: 91vw !important;
        width: 91vw !important;
        mat-dialog-container {
            padding-top: 10px !important;
        }
    }
    max-width: 90vw !important;
    max-height: 90vh;
}