<mat-dialog-content>
    <div *ngIf="paintingModalData && paintingModalData.painting" class="h-100">
        <div class="d-md-flex" [ngClass]="{'h-100': paintingModalData.painting.aspectRatio < 2}">
            <img [style.height]="'fit-content'" [style.width]="getImageWidth(paintingModalData.painting)" 
            [ngStyle]="{'aspect-ratio': paintingModalData.painting.aspectRatio}" [src]="paintingModalData.painting.renderedImage">
            <ul>
            <li><b>Description: </b>{{paintingModalData.painting.name}}</li>
            <li><b>Paint Type: </b>{{paintingModalData.painting.paintType}}</li>
            <li><b>Dimensions: </b>{{paintingModalData.painting.dimensions}}</li>
            <li><b>Edges Painted: </b>{{paintingModalData.painting.edgesPainted}}</li>
            <li><b>Surface Type: </b>{{paintingModalData.painting.surfaceType}}</li>
            <li><b>Date Finished: </b>{{paintingModalData.painting.DateFinished}}</li>
            <li><b>Status: </b>{{paintingModalData.painting.status}}</li>
            </ul>
        </div>
    </div>
</mat-dialog-content>
