@import "../../../../../styles/colors.scss";

.painting-xlong {
    width: 78% !important;
}


.mat-dialog-content {
    max-height: fit-content;
    height: 100%
}

::ng-deep .painting-details-modal {
    height: fit-content;
    width: 80vw; 
    @media screen and (max-width: 992px){
        max-width: 91vw !important;
        width: 91vw !important;
    }
    max-width: 90vw !important;
    max-height: 90vh;
    overflow-y: scroll;
}