<mat-dialog-content>
    <div id="top"></div>
    <mat-icon aria-label="Close Modal" class="close-button mb-2 mb-lg-0" (click)="closePaintingDetailsModal()">close</mat-icon>
    <div *ngIf="paintingModalData && paintingModalData.painting" class="h-100">
        <div class="d-lg-flex" [ngClass]="{'h-100': paintingModalData.painting.aspectRatio < 2}">
            <img [style.height]="'fit-content'" [style.width]="getImageWidth(paintingModalData.painting)" 
            [ngStyle]="{'aspect-ratio': paintingModalData.painting.aspectRatio}" [src]="paintingModalData.painting.renderedImage">
            <div class="mt-4 details-section">
                <ul class="ps-3 ps-lg-5">
                    <li><b>Description: </b>{{paintingModalData.painting.name}}</li>
                    <li><b>Paint Type: </b>{{paintingModalData.painting.paintType}}</li>
                    <li><b>Dimensions: </b>{{paintingModalData.painting.dimensions}}</li>
                    <li><b>Edges Painted: </b>{{paintingModalData.painting.edgesPainted == true ? 'yes': 'no'}}</li>
                    <li><b>Surface Type: </b>{{paintingModalData.painting.surfaceType}}</li>
                    <li><b>Date Finished: </b>{{paintingModalData.painting.DateFinished}}</li>
                    <li><b>Status: </b>{{paintingModalData.painting.status}}</li>
                </ul>
                <div *ngIf="showBuyPaintingButtonAndPrice && (paintingModalData.painting.status != 'Unavailable')" class="details-section__price ps-0 ps-lg-5">{{(paintingModalData.painting.price / 100) | currency:'USD':'symbol' }}</div>
                <button aria-label="Buy Painting" *ngIf="showBuyPaintingButtonAndPrice" [disabled]="(paintingModalData.painting.status !== 'Available')" class="my-3 buy-painting-button"  (click)="buyPaintingClicked()">Buy Painting</button>
            </div>
        </div>
    </div>
</mat-dialog-content>