@import "../../../../../styles/colors.scss";

.painting-xlong {
    width: 78% !important;
}


.mat-dialog-content {
    max-height: fit-content;
    height: 100%
}

::ng-deep .painting-details-modal {
    height: 95vh;
    width: fit-content;
    max-width: none;
}